.wrapper {
  top: 0;
  z-index: 99;
  // display: flex;
  justify-content: center;
  flex-direction: column;
  // padding: 0 auto;
  input {
    font-size: 30px;
    padding: 25px 20px;
    height: 40px;
    width: 100%;
    font-weight: 600;
    border-radius: 10px;
  }
  textarea {
    width: 100%;
    height: 300px;
    font-size: 25px;
    border-radius: 10px;
    padding: 25px 20px;
  }
  button {
    font-size: 30px;
    font-weight: 600;
    padding: 5px 20px;
    width: 100%;
    border: 2px solid #1a1a1a;
    background-color: #fff;
    &:disabled {
      pointer-events: none;
    }

    &:hover {
      color: #fff;
      background-color: #1a1a1a;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: none;
      transform: translateY(0);
    }
  }
}

.maxLength{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
