.wrapper {
  padding: 20px 30px;
}
.header {
  display: flex;
  max-height: 400px;
  margin-bottom: 20px;
}
.info {
  overflow: auto;
  // overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: black;
  }
}
.img {
  width: 300px;
  height: 400px;
  margin-right: 50px;
}

.nickname,
.realname,
.content {
  &::selection {
    background-color: black;
    color: white;
  }
}

.nickname {
  font-size: 55px;
  font-weight: 600;
}

.realname {
  font-size: 35px;
  font-weight: 600;
}

.content {
  font-size: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.personalItems {
  padding: 15px;
  border: black solid 3px;
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  &:hover {
    background-color: black;
    color: white;
    transform: translateY(-5px);
  }
}

.headerTitle {
  background-color: black;
  color: white;
  padding: 20px 25px;
  text-align: center;
  border-radius: 20px;
  &::selection {
    background-color: white;
    color: black;
  }
}

.wrapperTimelapse {
  border-radius: 20px;
  border: 1px solid black;
  margin: 15px 0;
  .time,
  .diary {
    &::selection {
      background-color: black;
      color: white ;
    }
  }
  .time {
    text-align: center;
    padding: 15px 20px;
    font-size: 35px;
    font-weight: 600;
    border-bottom: 1px solid black;
  }
  .diary {
    font-size: 25px;
    font-weight: 500;
    text-align: start;
    padding: 20px 30px;
  }
}
