.item {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  padding: 20px 30px;
  margin: 10px 30px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #fcfcfd;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.15s, transform 0.15s;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  &:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  }
  &:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
  }
}

.title,
.content {
  &::selection {
    background-color: black;
    color: white;
  }
}
.content {
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu {
  display: flex;
}

.titleHeader {
  padding: 20px 30px;
  margin: 10px 30px;
  text-align: center;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.img {
  width: 100%;
  height: 500px;
}

.text {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.input {
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  margin: 0 10px 10px 0;
  padding: 5px;
}

.textarea {
  width: 100%;
  height: 200px;
  font-size: 25px;
  padding: 20px;
}

.maxLength {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
